node_modules
dist
.git
.electron_builder_cache
*.zip
*.7z
*.rar
*.exe
*.msi
*.log
npm-debug.log*
uploads
outputs
runtime
data
cache
flow2api_local/tmp
flow2api_local
flow2api_local/config/setting.toml
flow2api_local/source/data
flow2api_local/source/logs
flow2api_local/source/.env
flow2api_local/source/.github
